


body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../images/graveyard.jpg');
    background-size: 1700px 1000 px;
}

#game-canvas {
    background-color: black;
}

h1 {
    color: white;
}
